<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @player.player_id %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @player.sport %>
</p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Age:</strong>
  <%= @player.age %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
